$blue: #2fa2d8;
$light_bg: #eef9fd;
$light: #f8f8f8;
$yellow: #FFF200;
$orange: #fa620e;
$orange_light: #f88648;
$green: #3ddbba;
$black: #212121;
$grey: #7e7e7e;
$light_grey: #d6d6d6;
$white: #fff;

$a_bg: rgba(255,255,255,0.5);
$a_btn: rgba(255,255,255,0.7);