@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

$blue: #2fa2d8;
$light_bg: #eef9fd;
$light: #f8f8f8;
$orange: #fa620e;
$orange_light: #f88648;
$green: #3ddbba;
$black: #212121;
$grey: #7e7e7e;
$light_grey: #d6d6d6;
$white: #fff;

$a_bg: rgba(255,255,255,0.5);
$a_btn: rgba(255,255,255,0.7);

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/***** GENERAL *****/
html {
	height: 100%; width: 100%;
	body {height: 100%; width: 100%; background: #eef9fd;}
}
main {height: 100%; width: 100%; @include no-select();}
svg:not(:root) {overflow: visible;}

.picker__holder {overflow: visible;}

/***** ELEMENTS *****/
.visible {display: block !important;}
ul.list {display: block; margin: 0; padding: 0; list-style: none;}
.full {width: 100%;}

/***** FORM ELEMENTS *****/

select, input[type=text] {
	border: none;
	border-bottom: 1px solid $light_grey;
	height: 2rem; font-size: 1rem;
	padding: 0;
	margin: 0 0 1rem 0;
	outline: none;
	@include transition(border-color 0.25s ease);
	&:focus {
		border-color: $grey;
	}
}
input[disabled] {
	color: $grey;
	background-color: transparent;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

/*
.btn {
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.5rem;
	border: none;
	background-color: $light;
	outline: none;
	@include border-radius(3px);
	@include box-shadow(0 1px 3px 0 rgba(0,0,0,0.6));
	@include transition(background-color 0.25s ease, border-color 0.25s ease);
}
.btn-blue {
	color: $white;
	background-color: $blue;
	&:hover {background-color: $black;}
}

*/


#canvas {
	width: 980%; height: 98%; shape-rendering: optimizeSpeed;
	#grid-countries, 
	#grid-days {shape-rendering: crispEdges;}
	#points .label {font-size: 0.8rem;}
}
.control-panel {
	position: fixed; top: 20px; left: 20px; display: block;
	.control {
		display: block; 
		background-color: #fff; 
		color: $blue;
		width: 45px;
		height: 45px;
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 45px;
		text-align: center;
		@include border-radius(4px);
		@include box-shadow(0 1px 3px 0 rgba(0,0,0,0.5));
		@include transition(color 0.25s ease);

		&:hover {
			color: $orange;
		}
	}
}

.popup {
	position: fixed; z-index: 1; top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.popup-bg {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		background-color: $a_bg;
	}
	.popup-container {
		position: relative;
	}
	.popup-window {
		width: 320px;
		margin: 0 0.5rem;
		float: left;
		background-color: $white;
		position: relative; z-index: 10;
		@include box-shadow(rgba(0,0,0,0.4) 0 0 15px);
		@include border-radius(4px);
		.popup-close {
			position: absolute;
			cursor: pointer;
			color: $grey;
			top: 5px; right: 5px;
		}
		.popup-content {
			padding: 1.5rem;
			.row {margin-left: -0.75rem; margin-right: -0.75rem;}
			.popup-title {
				font-size: 1.5rem;
				margin: 0 0 1rem 0;
  				font-weight: 400;
				i {color: $blue;}
			}
			.autocomplete {font-size: 0.8rem;}
			.result {
				margin: 0 0 1rem 0;
				li {margin: 0.5rem 0;}
				.label {color: $grey; font-size: .75rem;}
				.value {padding: 0 0.5rem; font-size: .9rem;}
			}
		}
	}
}

.context-menu {
	display: none;
	position: fixed; top: 100px; left: 400px;
	min-width: 200px;
	padding: 0;
	background-color: $white;
	@include box-shadow(rgba(0,0,0,0.4) 1px 1px 3px);
	ul {
		border-bottom: 1px solid $light_grey;
		padding: 0.25rem 0;
		li {
			font-size: 0.75rem;
			line-height: 1rem;
			padding: 0.4rem 1rem;
			cursor: default;
			i {width: 1.5rem;}
			&:hover {
				background-color: $blue;
				color: $white;
			}
		}
		&:last-child {border-bottom: none;}
	}
}

.table-search-results {
	td {font-size: 0.75rem;}
	.price {color: $blue;}
}

.tc-icon {font-family: 'tc';}

#canvas .point {
	.plus {
		opacity: 0;
		@include transition(opacity 0.25s ease);
		circle {
			fill: $light_grey;
			@include transition(opacity 0.25s ease, fill 0.25s ease);
		}
		&:hover {
			circle {
				fill: $blue;
			}
		}
	}
	&:hover {
		.plus {opacity: 1;}
	}
}



