<div id="popup-transfer-{{transfer.id}}" class="popup">
	<div class="popup-bg"></div>
	<div class="popup-conteiner">
		<div class="popup-window animated fadeInUp">
			<div class="popup-close" ng-click="popupTransferClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="tc tc-transfer"></i> Transfer Search</h3>

				<input 
				googleplace 
				ng-model="transfer.from.place" 
				value="{{transfer.from.place.city.title}}"
				ng-disabled="transfer.from.locked"
				type="text" 
				placeholder="Введите адрес" 
				class="full autocomplete from-addr" 
				>

				<input 
				googleplace 
				ng-model="transfer.to.place" 
				value="{{transfer.to.place.city.title}}" 
				ng-disabled="transfer.to.locked"
				type="text" 
				placeholder="Введите адрес" 
				class="full autocomplete to-addr"
				>
				<input type="text" class="datepicker full" placeholder="Departure Date" />

				<select class="full">
					<option value="">Persons</option>
				</select>
				<select
					class="full" 
					ng-model="transfer.type"
					ng-options="type as type for type in transfers.types"
				>
				</select>
				<input class="btn btn-blue full" type="button" ng-click="searchTransfer()" value="Search">
			</div>
		</div>
		<div class="popup-window animated fadeInUp" ng-show="transfer.search.results">
			<div class="popup-close" ng-click="popupTransferClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="fa fa-search"></i> Search Results</h3>
				<table class="table table-search-results">
					<tr ng-repeat="result in transfer.search.results">
						<td class="icon"><i class="tc tc-transfer"></i></td>
						<td class="airports">{{result.from}} - {{result.to}}</td>
						<td class="time">{{result.dep*1000 | date:'dd-MM-yyyy HH:mm:ss'}}</td>
						<td class="time">{{result.arr*1000 | date:'dd-MM-yyyy HH:mm:ss'}}</td>
						<td class="time">{{result.time | date:'HH:mm'}}</td>
						<td class="price">{{result.price}}</td>
					</tr>
				</table>
				<input class="btn btn-blue full" type="button" ng-click="setTransfer()" value="Select">
			</div>
		</div>
	</div>
</div>