<div id="popup-point-{{point.id}}" class="popup">
	<div class="popup-bg"></div>
	<div class="popup-container">
		<div class="popup-window animated fadeInUp">
			<div class="popup-close" ng-click="popupPointClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="fa fa-globe"></i> Add place</h3>
				<input googlecity ng-model="point.place" value="{{point.place.city.title}}" type="text" placeholder="Введите адрес" class="full autocomplete point-addr">
				<ul class="list result" ng-show="point.place.city.id">
					<li><span class="label">City:</span><span class="value">{{point.place.city.title}}</span></li>
					<li><span class="label">Country:</span><span class="value">{{point.place.country.title}}</span></li>
				</ul>
				<input class="btn full" type="button" ng-click="setPoint()" ng-show="point.place.city.id" value="Done!">
			</div>
		</div>
	</div>
</div>