<div id="popup-note-{{note.id}}" class="popup">
	<div class="popup-bg"></div>
	<div class="popup-container">
		<div class="popup-window animated fadeInUp">
			<div class="popup-close" ng-click="popupNoteClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="tc tc-note"></i> Add Your Note</h3>
				<input type="text" class="full" placeholder="Add Your Heading" ng-model="note.heading" />
				<input type="text" class="full" placeholder="Add Text" ng-model="note.text"/>
				<input class="btn full" type="button" ng-click="setNote()" ng-show="note.heading" value="Save">
			</div>
		</div>
	</div>
</div>