<div id="popup-activity-{{activity.id}}" class="popup">
	<div class="popup-bg"></div>
	<div class="popup-container">
		<div class="popup-window animated fadeInUp">
			<div class="popup-close" ng-click="popupActivityClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="fa fa-globe"></i> Add activity</h3>
				<input googleplace ng-model="activity.place" value="{{activity.place.city.title}}" type="text" placeholder="Введите адрес" class="full autocomplete activity-addr">
				<ul class="list result" ng-show="activity.place.city.id">
					<li><span class="label">Place:</span><span class="value">{{activity.place.city.title}}</span></li>
					<li><span class="label">Country:</span><span class="value">{{activity.place.country.title}}</span></li>
				</ul>
				<input class="btn full" type="button" ng-click="setActivity()" ng-show="activity.place.city.id" value="Готово">
			</div>
		</div>
	</div>
</div>