<div id="popup-accomodation-{{accomodation.id}}" class="popup">
	<div class="popup-bg"></div>
	<div class="popup-conteiner">
		<div class="popup-window animated fadeInUp">
			<div class="popup-close" ng-click="popupAccomodationClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="tc tc-accomodation"></i> Add Accomodation</h3>
				<div class="row">
					<div class="col s6"><input type="text" class="full" placeholder="Check In" /></div>
					<div class="col s6"><input type="text" class="full" placeholder="Check Out" /></div>
					<div class="col s6"><input type="text" class="full" placeholder="Persons" /></div>
					<div class="col s6"><input type="text" class="full" placeholder="Nights" /></div>
				</div>

				<input class="btn btn-blue full" type="button" ng-click="searchAccomodation()" value="Search">
			</div>
		</div>
		<div class="popup-window animated fadeInUp" ng-show="accomodation.search.results">
			<div class="popup-close" ng-click="popupAccomodationClose()"><i class="fa fa-times"></i></div>
			<div class="popup-content">
				<h3 class="popup-title"><i class="fa fa-search"></i> Search Results</h3>
				<table class="table table-search-results">
					<tr ng-repeat="result in accomodation.search.results">
						<td class="image"><img ng-src="{{result.image}}" alt=""></td>
						<td class="place">{{result.place}}</td>
						<td class="time">{{result.arr*1000 | date:'dd-MM-yyyy'}} - {{result.dep*1000 | date:'dd-MM-yyyy'}}</td>
						<td class="price">{{result.price}}</td>
					</tr>
				</table>
				<input class="btn btn-blue full" type="button" ng-click="setAccomodation()" value="Select">
			</div>
		</div>
	</div>
</div>